@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.body{
    font-family: "Poppins";
    font-weight: 400, 500, 600, 700;
    background-image: url(bg-intro-desktop.png);  
}
